paddlepaddle-gpu
pre-commit==2.17.0
torch==2.12.0
torchvision==0.27.0
torchaudio
numpy
pandas
func_timeout
pebble
nvidia-ml-py
pyyaml
typer
tqdm

# Optional for Transformer Engine test cases:
# uv pip install --no-build-isolation "transformer_engine[pytorch]" --force-reinstall
